scipy>=1.16.1

jupyter>=1.0.0

# GPU-enabled PyTorch
# Might have to run these in the terminal in order to work properly
torch # --index-url https://download.pytorch.org/whl/cu126'
torchvision # --index-url https://download.pytorch.org/whl/cu126

transformers~=4.57.1
scikit-learn
accelerate>=0.26.0

tqdm==4.67.1
datasets~=3.3.2
hf_xet
evaluate~=0.4.6
numpy~=1.26.4